body {
    background-image: url(https://images.unsplash.com/photo-1543353071-10c8ba85a904?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    background-size: cover;
}

.header{
    display: flex;
    flex-direction: row;
    background-color: rgba(219, 215, 215, 0.76);
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.801);
}


.logo img{
    display: flex;
    height: 100px;
    width: 100px;
    margin: 20px;
    border-style: solid;
    border: 10px;
    border-color: black;
    padding: 10px;
    background-color: rgba(219, 215, 215, 0.76);
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.719);
}

.log_in {
    display: flex;
    justify-content: right;
}


.p {
    background-color: rgba(219, 215, 215, 0.76);
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.801);
    margin: auto;
    width: 50%;
    padding: 10px;
    text-decoration: underline;
    text-transform: uppercase;
    
}


.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
}

.asian {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 50%;
    text-align: center;
    margin: 20px;
    background-color: rgba(219, 215, 215, 0.76);
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.719);
    
}

.italian {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    margin: 20px;
    text-align: center;
    background-color: rgba(219, 215, 215, 0.76);
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.719);
}

.indian {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    width: 50%;
    margin: 20px;
    text-align: center;
    background-color: rgba(219, 215, 215, 0.76);
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.719);

}

.submit_recipe{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    width: 50%;
    margin: 20px;
    text-align: center;
}

.dropDown {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    width: 50%;
    margin: 20px;
    text-align: center;
}
