body {
    background-image: url(https://images.unsplash.com/photo-1523294587484-bae6cc870010?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGN1dHRpbmclMjBib2FyZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60);
    object-fit: fill;
}

img {
    width: 100%;
    z-index: 0;

}

.formOne {
    border: 2px solid black;
    background-color: rgb(211, 207, 207);
}

.italian {
    text-align: center;
}