body {
    background-image: url(https://images.unsplash.com/photo-1543353071-10c8ba85a904?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    background-size: cover;
}

.formOne {
    background-color: rgba(219, 215, 215, 0.76);
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.719);
}

.p {
    background-color: rgba(219, 215, 215, 0.76);
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.801);
    margin: auto;
    width: 50%;
    padding: 10px;
    text-decoration: underline;
    text-transform: uppercase;

}

.dropDown {
    border: 2px black;
    text-align: center;
}



.asian{
    text-align: center;

}

.italian {
    text-align: center;
}

.indian {
    text-align: center;
}